# Python venv
.venv/
__pycache__/
*.pyc
*.pyo

# Local SQLite or other DB files
*.db
*.sqlite3

# Firebase service account key
serviceAccountKey.json

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
